asgiref==3.8.1
crispy-bootstrap5==2025.4
dj-database-url==3.0.0
Django==5.2.1
django-cleanup==9.0.0
django-crispy-forms==2.4
django-formtools==2.5.1
django-jazzmin==3.0.1
pillow==11.2.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
python-http-client==3.3.7
sendgrid==3.6.5
sendgrid-django==4.2.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
